div {
    align-items: center;
    justify-content: center;
}

.row {
    height: 9.5px;
    width: 9.5px;
    background-color: yellow;
}

.col {
    display: flex;
}

.gridHouse {
    width: 950px;
    height: 950px;
}