div {
    height: 24px;
    align-items: center;
    justify-content: center;
}

.row {
    height: 25px;
    width: 25px;
    background-color: yellow;
}

.col {
    display: flex;
}

.gridHouse {
    width: 400px;
}